[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/4.2%20ETF%20%EC%A0%84%EC%B2%98%EB%A6%AC-input.ipynb)

* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn) 에서 수집한 데이터를 전처리 합니다.
* keyword
    * rename column
    * .map(lambda x : x)
    * text data
        * str.contains()
        * str.replace()
        * str.split("구분자", expand=True)
        * str[:]

## 데이터 로드와 요약

In [ ]:
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy라이브러리를 로드합니다.
import pandas as pd
import numpy as np
# from google.colab import drive

# drive.mount('/content/gdrive')
# path = "/content/gdrive/My Drive/Colab Notebooks/IBK투자증권/finance-data-analysis-main"

In [ ]:
# 이전 실습에서 저장한 파일명을 file_name에 적어주세요.
file_name = "eft_2022-04-28_raw.csv"
file_name

'eft_2022-04-28_raw.csv'

In [ ]:
# 이전 수업에서 수집해서 저장해둔 csv 파일을 읽어옵니다.
# itemcode 숫자 앞의 0 이 지워진다면 dtype={"itemcode": np.object} 로 타입을 지정해 주면 문자형태로 읽어옵니다.
df = pd.read_csv(f"{path}/{file_name}", dtype={"itemcode": np.object})
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34985,2,345,1.00,35084.0,-0.4674,4180043,145311,47195
1,371460,4,TIGER 차이나전기차SOLACTIVE,11890,2,95,0.81,11894.0,-25.5132,8956866,107221,29425
2,122630,3,KODEX 레버리지,18585,2,360,1.98,18679.0,-2.6183,16856345,309205,21122
3,133690,4,TIGER 미국나스닥100,75220,2,1000,1.35,74008.0,-0.9795,117485,8789,20964
4,252670,3,KODEX 200선물인버스2X,2650,5,-50,-1.85,2646.0,-1.0990,141997440,380833,19202
...,...,...,...,...,...,...,...,...,...,...,...,...
550,295000,6,KBSTAR 국채선물10년,51165,5,-10,-0.02,51181.0,-3.7159,39,1,20
551,287330,2,KBSTAR 200생활소비재,7395,2,255,3.57,7392.0,6.9597,485,3,18
552,284990,2,KBSTAR 200에너지화학,11195,2,290,2.66,11214.0,1.1791,316,3,16
553,287310,2,KBSTAR 200경기소비재,10060,2,100,1.00,10079.0,2.7763,380,3,10
554,287320,2,KBSTAR 200산업재,11760,2,240,2.08,11784.0,18.4250,37,0,7

In [ ]:
# 인덱스 번호 상단 5개의 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.head(5)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34985,2,345,1.00,35084.0,-0.4674,4180043,145311,47195
1,371460,4,TIGER 차이나전기차SOLACTIVE,11890,2,95,0.81,11894.0,-25.5132,8956866,107221,29425
2,122630,3,KODEX 레버리지,18585,2,360,1.98,18679.0,-2.6183,16856345,309205,21122
3,133690,4,TIGER 미국나스닥100,75220,2,1000,1.35,74008.0,-0.9795,117485,8789,20964
4,252670,3,KODEX 200선물인버스2X,2650,5,-50,-1.85,2646.0,-1.0990,141997440,380833,19202

In [ ]:
# 인덱스 하단의 5개 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.tail(5)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
550,295000,6,KBSTAR 국채선물10년,51165,5,-10,-0.02,51181.0,-3.7159,39,1,20
551,287330,2,KBSTAR 200생활소비재,7395,2,255,3.57,7392.0,6.9597,485,3,18
552,284990,2,KBSTAR 200에너지화학,11195,2,290,2.66,11214.0,1.1791,316,3,16
553,287310,2,KBSTAR 200경기소비재,10060,2,100,1.00,10079.0,2.7763,380,3,10
554,287320,2,KBSTAR 200산업재,11760,2,240,2.08,11784.0,18.4250,37,0,7

In [ ]:
# info를 통해서 각 column들의 데이터타입과 결측치, 메모리 사용량 등을 볼 수 있습니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            555 non-null    object
 1   etfTabCode          555 non-null    int64
 2   itemname            555 non-null    object
 3   nowVal              555 non-null    int64
 4   risefall            555 non-null    int64
 5   changeVal           555 non-null    int64
 6   changeRate          555 non-null    float64
 7   nav                 555 non-null    float64
 8   threeMonthEarnRate  537 non-null    float64
 9   quant               555 non-null    int64
 10  amonut              555 non-null    int64
 11  marketSum           555 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 52.2+ KB

* 웹사이트의 ETF 정보와 비교하며 어떤 컬럼이 어떤 값인지 확인합니다. 
* https://finance.naver.com/sise/etf.nhn

In [ ]:
# https://finance.naver.com/sise/etf.nhn 에서 값을 비교해보면 quant는 거래량임을 알 수 있습니다.
# 거래량(quant) 기준으로 내림차순으로 정렬하여 상위 10개의 데이터를 봅니다.
df.sort_values("quant", ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
4,252670,3,KODEX 200선물인버스2X,2650,5,-50,-1.85,2646.0,-1.0990,141997440,380833,19202
22,114800,3,KODEX 인버스,4460,5,-50,-1.11,4460.0,0.1109,30231835,135717,8358
37,251340,3,KODEX 코스닥150선물인버스,4725,2,15,0.32,4712.0,-5.8000,25084202,118486,4286
2,122630,3,KODEX 레버리지,18585,2,360,1.98,18679.0,-2.6183,16856345,309205,21122
105,252710,3,TIGER 200선물인버스2X,2770,5,-60,-2.12,2764.0,-0.5273,10968539,30790,1147
1,371460,4,TIGER 차이나전기차SOLACTIVE,11890,2,95,0.81,11894.0,-25.5132,8956866,107221,29425
21,233740,3,KODEX 코스닥150레버리지,10675,5,-40,-0.37,10844.0,2.5358,7883654,84067,8903
0,069500,1,KODEX 200,34985,2,345,1.00,35084.0,-0.4674,4180043,145311,47195
31,229200,1,KODEX 코스닥150,12175,5,-15,-0.12,12378.0,1.9966,3982817,48443,5661
10,153130,6,KODEX 단기채권,103375,2,15,0.01,103372.0,0.1987,2709886,280122,14787

In [ ]:
# etfTabCode column의 데이터 구성을 살펴봅니다.
# 추후 알게되겠지만 etfTabCode는 해당 사이트에서 
# 전체(0), 국내 시장지수(1), 국내 업종/테마(2), 국내 파생(3) ~
# 해외 주식(4), 원자재(5), 채권(6), 기타(7)로 자료가 구분되어 있습니다.
df["etfTabCode"].value_counts().sort_index()

1     64
2    205
3     37
4    136
5     18
6     60
7     35
Name: etfTabCode, dtype: int64

In [ ]:
# pandas 의 boolean Indexing을 사용해서
# 국내 시장지수(etfTabCode == 1)의 데이터들만 확인하여 봅니다.
# 조건문의 결과가 Index와  True, False 로 나오기 때문에 boolean Indexing 이라 부릅니다.
df[df["etfTabCode"] == 1].sort_values("quant", ascending=False)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34985,2,345,1.00,35084.0,-0.4674,4180043,145311,47195
31,229200,1,KODEX 코스닥150,12175,5,-15,-0.12,12378.0,1.9966,3982817,48443,5661
5,102110,1,TIGER 200,35060,2,330,0.95,35137.0,-0.3681,1568552,54652,18126
27,152100,1,ARIRANG 200,35545,2,350,0.99,35618.0,-0.1114,681283,24167,6363
39,069660,1,KOSEF 200,34960,2,380,1.10,35020.0,-0.6509,630416,21967,4020
...,...,...,...,...,...,...,...,...,...,...,...,...
518,391680,1,HK 하이볼액티브,8185,2,65,0.80,8234.0,-0.0616,4,0,49
487,391670,1,HK 베스트일레븐액티브,8355,2,20,0.24,8406.0,-3.4743,2,0,58
292,292730,1,FOCUS KRX300,16260,2,160,0.99,16306.0,-0.7592,2,0,179
431,251890,1,KINDEX 코스닥(합성),12730,3,0,0.00,12756.0,4.5585,0,0,76
435,402520,1,FOCUS 혁신기업액티브,8335,3,0,0.00,8386.0,-1.7453,0,0,76

## 데이터 전처리
### etfTabName 만들기

In [ ]:
# etf name을 구분하기 위한 list를 만듭니다.
# """ 를 이용해 \n을 포함하는 string을 만들고 split으로 나누어서 list를 간편히 만들수 있습니다.
eftcode = """전체
국내 시장지수
국내 업종/테마
국내 파생
해외 주식
원자재
채권
기타"""
eftcode

'전체\n국내 시장지수\n국내 업종/테마\n국내 파생\n해외 주식\n원자재\n채권\n기타'

In [ ]:
# split으로 나누어 list형 데이터를 만듭니다.
# etf_tab_name
etf_tab_name = eftcode.split("\n")

In [ ]:
def find_eft_tab_name(no):
    return etf_tab_name[no]

In [ ]:
# etfTabName 이름이 직관적이지 않기 때문에 한글로 변경해 줍니다.
# map과 lambda 함수를 이용하여 eftTabCode column들의 각 cell의 내용에 따라
# etf_tab_name list의 원소값에 따라 이름을 만들어 주고 etfTabName 이라는 새로운 컬럼을 생성합니다.
# 즉 etfTabCode 숫자 -> list의 원소 인덱스로 한글 이름을 매핑해 줍니다. -> etfTabName에 한글로 저장
df["etfTabName"] = df["etfTabCode"].map(lambda x: etf_tab_name[x])

In [ ]:
# etfTabName column이 제대로 만들어졌는지 확인합니다.
df.loc[df["etfTabCode"] == 1].head()
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum,etfTabName
0,069500,1,KODEX 200,34985,2,345,1.00,35084.0,-0.4674,4180043,145311,47195,국내 시장지수
1,371460,4,TIGER 차이나전기차SOLACTIVE,11890,2,95,0.81,11894.0,-25.5132,8956866,107221,29425,해외 주식
2,122630,3,KODEX 레버리지,18585,2,360,1.98,18679.0,-2.6183,16856345,309205,21122,국내 파생
3,133690,4,TIGER 미국나스닥100,75220,2,1000,1.35,74008.0,-0.9795,117485,8789,20964,해외 주식
4,252670,3,KODEX 200선물인버스2X,2650,5,-50,-1.85,2646.0,-1.0990,141997440,380833,19202,국내 파생
...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,295000,6,KBSTAR 국채선물10년,51165,5,-10,-0.02,51181.0,-3.7159,39,1,20,채권
551,287330,2,KBSTAR 200생활소비재,7395,2,255,3.57,7392.0,6.9597,485,3,18,국내 업종/테마
552,284990,2,KBSTAR 200에너지화학,11195,2,290,2.66,11214.0,1.1791,316,3,16,국내 업종/테마
553,287310,2,KBSTAR 200경기소비재,10060,2,100,1.00,10079.0,2.7763,380,3,10,국내 업종/테마
554,287320,2,KBSTAR 200산업재,11760,2,240,2.08,11784.0,18.4250,37,0,7,국내 업종/테마

* map : 
    * Series에서만 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#applying-elementwise-functions)

* apply :
    * Series와 DataFrame 둘 다 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#row-or-column-wise-function-application)

### 컬럼명 변경하기

In [ ]:
"""종목명
현재가
전일비
등락률
NAV
3개월수익률
거래량
거래대금(백만)
시가총액(억)
"""

In [ ]:
# DataFrame df의 column 이름을 list로 만들어서 cols 라는 변수에 담습니다.
cols = df.columns.tolist()
cols

['itemcode',
 'etfTabCode',
 'itemname',
 'nowVal',
 'risefall',
 'changeVal',
 'changeRate',
 'nav',
 'threeMonthEarnRate',
 'quant',
 'amonut',
 'marketSum',
 'etfTabName']

In [ ]:
# 영어로 되어있는 column 이름을 한글로 바꾸기 위한 list를 만듭니다.
# 빠진 column이 있는지 리스트와 길이를 확인합니다.
col_name = """종목코드
탭코드
종목명
현재가
등락구분
전일비
등락률
순자산가치(NAV)
3개월수익률
거래량
거래대금(백만)
시가총액(억)
유형"""
col_name = col_name.split("\n")

In [ ]:
# 컬럼 영문명과 한글명을 딕셔너리 형태로 만들어 비교해 볼 수도 있습니다.
# 하지만 좀 더 간단하게 여기에서는 리스트 값을 그대로 컬럼에 넣어주는 방법을 사용할거에요.
# 딕셔너리로 키-값 쌍을 만들어 컬럼의 키와 값이 잘 매치되었는지 확인해 봅니다.
dict(zip(cols, col_name))

{'amonut': '거래대금(백만)',
 'changeRate': '등락률',
 'changeVal': '전일비',
 'etfTabCode': '탭코드',
 'etfTabName': '유형',
 'itemcode': '종목코드',
 'itemname': '종목명',
 'marketSum': '시가총액(억)',
 'nav': '순자산가치(NAV)',
 'nowVal': '현재가',
 'quant': '거래량',
 'risefall': '등락구분',
 'threeMonthEarnRate': '3개월수익률'}

In [ ]:
# 기존의 데이터프레임 컬럼명에 위에서 만든 컬럼명을 할당연산자로 대입해 주면 컬럼명이 변경됩니다.
# 컬럼 변경 후 한글로 컬럼명이 잘 변경되었는지 확인해 봅니다.
df.columns  = col_name
df

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형
0,069500,1,KODEX 200,34985,2,345,1.00,35084.0,-0.4674,4180043,145311,47195,국내 시장지수
1,371460,4,TIGER 차이나전기차SOLACTIVE,11890,2,95,0.81,11894.0,-25.5132,8956866,107221,29425,해외 주식
2,122630,3,KODEX 레버리지,18585,2,360,1.98,18679.0,-2.6183,16856345,309205,21122,국내 파생
3,133690,4,TIGER 미국나스닥100,75220,2,1000,1.35,74008.0,-0.9795,117485,8789,20964,해외 주식
4,252670,3,KODEX 200선물인버스2X,2650,5,-50,-1.85,2646.0,-1.0990,141997440,380833,19202,국내 파생
...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,295000,6,KBSTAR 국채선물10년,51165,5,-10,-0.02,51181.0,-3.7159,39,1,20,채권
551,287330,2,KBSTAR 200생활소비재,7395,2,255,3.57,7392.0,6.9597,485,3,18,국내 업종/테마
552,284990,2,KBSTAR 200에너지화학,11195,2,290,2.66,11214.0,1.1791,316,3,16,국내 업종/테마
553,287310,2,KBSTAR 200경기소비재,10060,2,100,1.00,10079.0,2.7763,380,3,10,국내 업종/테마
554,287320,2,KBSTAR 200산업재,11760,2,240,2.08,11784.0,18.4250,37,0,7,국내 업종/테마

### 파생변수 만들기
* 브랜드, 인버스, 레버리지, 환헤지H 변수 만들기
* [Working with text data — pandas documentation](https://pandas.pydata.org/docs/user_guide/text.html)

In [ ]:
# 종목명 column의 데이터를 space(" ")를 이용해 나누고 제일 앞부분[0]을 새로운 column을 만들어 저장하고 확인합니다.
# expand = True 옵션을 사용하면 문자열을 나눈 값을 인덱스 순서대로 가져와서 사용할 수 있습니다.
df["브랜드"] = df["종목명"].str.split(" ",expand= True)[0]
df[["브랜드", "종목명"]].head()

     브랜드                    종목명
0  KODEX              KODEX 200
1  TIGER  TIGER 차이나전기차SOLACTIVE
2  KODEX             KODEX 레버리지
3  TIGER         TIGER 미국나스닥100
4  KODEX       KODEX 200선물인버스2X

* 종목명 column의 내용중이 '인버스'라는 단어가 있으면 새로운 column '인버스'에 True 값이 들어가게 됩니다.
* contains는 bool type을 반환하기 때문에 새로운 column에는 True나 False가 들어가게 됩니다.
* 마찬가지로 '레버리지'와 '환헤지H'에 대해서도 동일하게 만들어 줍니다. 
* H라는 단어가 종목명에 들어갈 수도 있기 때문에 H뒤에 닫는 소괄호")"까지 확인합니다.
* 소괄호는 정규표현식에서 의미를 가지는 문자이기 때문에 문자 그대로 읽어오기 위해서는 "\"로 전처리가 필요합니다.

In [ ]:
# 인버스ETF는 지수가 하락하면 오히려 수익률이 오르도록 설계된 상품입니다.
df["인버스"] = df["종목명"].str.contains("인버스")
df["인버스"].value_counts(normalize=True) * 100
df["인버스"].value_counts()

False    51400
True      4100
Name: 인버스, dtype: int64

레버리지(leverage)는 타인의 자본을 지렛대처럼 이용하여 자기 자본의 이익률을 높이는 것이다. 고정비용이 있을 때 매출액의 변화가 기업의 손익에 미치는 영향을 분석하는 데에 쓰인다. 이는 고정영업비용과 고정재무비용의 부담정도에 따라 기업에게 귀속되는 최종적인 주당이익에 어떤 영향을 미치는지 분석할 수 있게 한다.

* 출처 : [레버리지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EB%A0%88%EB%B2%84%EB%A6%AC%EC%A7%80)

In [ ]:
df["레버리지"] = df["종목명"].str.contains("레버리지")
df["레버리지"].value_counts(normalize=True) * 100

False    93.153153
True      6.846847
Name: 레버리지, dtype: float64

헤지(hedge)란 환율, 금리 또는 다른 자산에 대한 투자등을 통해 보유하고 있는 위험자산의 가격변동을 제거하는 것을 말한다. 즉, 확정되지 않은 자산을 확정된 자산으로 편입하는 과정이라 할 수 있으며, 주로 선물 옵션과 같은 파생상품을 이용한다. 이를 통해 체계적 위험을 제거할 수 있다.

부(wealth)를 결정하는 변수값의 변화와 관계없이 항상 일정한 부를 유지하게 하는 헤지를 완전헤지라고 하고, 그렇지 못한 것을 불완전헤지라고 한다.
* 출처 : [헤지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%ED%97%A4%EC%A7%80)

In [ ]:
# (H)의 의미는 환율변동 위험을 막기 위해 Hedge를 한다는 뜻입니다.
df["종목명"]
df["환헤지H"] = df["종목명"].str.endswith("H)")
df["환헤지H"]
df.loc[df["환헤지H"] == True, ["종목명", "환헤지H"]].head()
df["환헤지H"].value_counts(normalize=True) * 100

False    87.927928
True     12.072072
Name: 환헤지H, dtype: float64

### 전처리가 잘 되었는지 확인하기

In [ ]:
# 등락구분에 있는 값의 빈도수를 세어봅니다.
df["등락구분"].value_counts()

2    401
5    138
3     16
Name: 등락구분, dtype: int64

In [ ]:
# 전체적으로 데이터 전처리가 끝났다면 info를 통해 데이터 요약정보 보기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   종목코드        555 non-null    object
 1   탭코드         555 non-null    int64
 2   종목명         555 non-null    object
 3   현재가         555 non-null    int64
 4   등락구분        555 non-null    int64
 5   전일비         555 non-null    int64
 6   등락률         555 non-null    float64
 7   순자산가치(NAV)  555 non-null    float64
 8   3개월수익률      537 non-null    float64
 9   거래량         555 non-null    int64
 10  거래대금(백만)    555 non-null    int64
 11  시가총액(억)     555 non-null    int64
 12  유형          555 non-null    object
 13  브랜드         555 non-null    object
 14  인버스         555 non-null    bool
 15  레버리지        555 non-null    bool
 16  환헤지H        555 non-null    bool
dtypes: bool(3), float64(3), int64(7), object(4)
memory usage: 62.5+ KB

## 파일로 저장하기

In [ ]:
# 기존에 불러왔던 파일명에서 _raw를 제거하고 새로운 파일명으로 저장합니다.
# save_file_name 
save_file_name = file_name.replace("_raw", "")
save_file_name
df.to_csv(f"{path}/{save_file_name}", index=False)

In [ ]:
# pandas의 to_csv로 파일을 저장합니다.
# index=False로 인덱스값은 저장하지 않습니다.

In [ ]:
# 저장한 파일을 읽어와서 제대로 저장되었는지 확인합니다.
# 또, 종목코드는 그냥 읽어오면 숫자 맨 앞의 0이 생략될 수 있으니 object 타입으로 불러옵니다.
pd.read_csv(f"{path}/{save_file_name}", dtype={"itemcode": np.object})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,브랜드,인버스,레버리지,환헤지H
0,69500,1,KODEX 200,34985,2,345,1.00,35084.0,-0.4674,4180043,145311,47195,국내 시장지수,KODEX,False,False,False
1,371460,4,TIGER 차이나전기차SOLACTIVE,11890,2,95,0.81,11894.0,-25.5132,8956866,107221,29425,해외 주식,TIGER,False,False,False
2,122630,3,KODEX 레버리지,18585,2,360,1.98,18679.0,-2.6183,16856345,309205,21122,국내 파생,KODEX,False,True,False
3,133690,4,TIGER 미국나스닥100,75220,2,1000,1.35,74008.0,-0.9795,117485,8789,20964,해외 주식,TIGER,False,False,False
4,252670,3,KODEX 200선물인버스2X,2650,5,-50,-1.85,2646.0,-1.0990,141997440,380833,19202,국내 파생,KODEX,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,295000,6,KBSTAR 국채선물10년,51165,5,-10,-0.02,51181.0,-3.7159,39,1,20,채권,KBSTAR,False,False,False
551,287330,2,KBSTAR 200생활소비재,7395,2,255,3.57,7392.0,6.9597,485,3,18,국내 업종/테마,KBSTAR,False,False,False
552,284990,2,KBSTAR 200에너지화학,11195,2,290,2.66,11214.0,1.1791,316,3,16,국내 업종/테마,KBSTAR,False,False,False
553,287310,2,KBSTAR 200경기소비재,10060,2,100,1.00,10079.0,2.7763,380,3,10,국내 업종/테마,KBSTAR,False,False,False
554,287320,2,KBSTAR 200산업재,11760,2,240,2.08,11784.0,18.4250,37,0,7,국내 업종/테마,KBSTAR,False,False,False